{% extends "base.html" %}
{% block title %} Physiological Conditions {% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block content %}
	<body>
		<h1> All Conditions </h1>
		<button type='button' class='btn btn-success'><a href={{url_for('newCondition')}}> List a New Condition</a></button>
		<p>
			{% with messages=get_flashed_messages() %}
				{% if messages %}
					<ul>
					{% for message in messages %}
					<li> <strong> {{message}} </strong></li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</p>

		{% for i in conditions %}
			<section class='panel panel-default'>
				<p class='panel-heading'>
					<p>{{i.name}}</p>
					<p>{{i.signs_and_symptoms}}</p>
				<div class='panel-body'>
					<div class='btn-group' role='group'>
						<button type='button' class='btn btn-success'><a href={{url_for('conditionMenus',condition_id=i.id)}}> Therapeutic Menus for the Condition </a></button>
						<button type='button' class='btn btn-default'><a href={{url_for('conditionEdit', condition_id=i.id)}}> EDIT</a></button>
						<button type='button' class='btn btn-warning'><a href={{url_for('conditionDelete', condition_id=i.id)}}> DELETE</a></button>
					</div>
					<hr>
				</div>
			</section>
		{% endfor %}
	</body>
{% endblock %}

