{% extends "base.html" %}
{% block title %} New Menu {% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
	<body>
		<section class='panel panel-default'>
            <div class='panel-heading'>
                <h1> Edit Restauraunt {{restaurant.name.title()}} </h1>
            </div>
            <div class='panel-body'>
		        <form action='{{url_for('restaurantEdit', restaurant_id=restaurant.id)}}' method='post'>
                    <input name="newName" type="text" value='{{restaurant.name}}'>
                    <input name="newDescription" type="text" value='{{restaurant.description}}'>
                    <input type="submit" value="EDIT">
                </form>
            </div>
        </section>
    </body>
{% endblock %}
