{% extends "base.html" %}
{% block title %} New Menu {% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
	<body>
        <section class='panel panel-default'>
            <div class='panel-heading'>
		        <h1> Edit Menu {{menu.name.capitalize()}} at Restaurant {{restaurant.name.title()}} </h1>
            </div>
            <div class='panel-body'>
		        <form action='{{url_for('editMenu', restaurant_id=restaurant_id, menu_id=menu_id )}}' method='post'>
                    <div class='form-group'>
                        <label for = "newCourse">Select Course</label>
                        <select name='newCourse' class='form-control'>
                                <option> Fruit </option>
                                <option> Vegetable </option>
                                <option> Grain </option>
                                <option> Beans and Legumes </option>
                                <option> Meats </option>
                                <option> Seafood </option>
                        </select>
                    </div>

                    <input name="newName" type="text" placeholder='{{menu.name}}'>name
                    <br>
                    <input name="newPrice" type="text" placeholder='{{menu.price}}'>price
                    <br>
                    <input name="newDescription" type="text" placeholder='{{menu.description}}'>description
                    <br>
                    <input type="submit" value="EDIT">
                    <br>
                    <button class='btn btn-success' name="cancel">
                        <a href={{url_for('showMenus', restaurant_id=restaurant_id)}}>CANCEL</a>
                    </button>
                </form>
            </div>
        </section>
    </body>
{% endblock %}
