{% extends "base.html" %}
{% block title %} Edit Menu {% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
	<body>
        <section class='panel panel-default'>
            <div class='panel-body'>
		        <form action='{{url_for('editMenu', restaurant_id=restaurant_id, menu_id=menu_id )}}' method='post' id='course' autocomplete='on'>
                    <fieldset>
                        <legend>Edit Menu {{menu.name.capitalize()}} at Restaurant {{restaurant.name.title()}}</legend>
                        <div class='form-group'>
                            <label for = 'selectCourse'>Select Course</label>
                            <select id='selectCourse' name='newCourse' class='form-control' form='course' multiple>
                                    <option value='fruit'> Fruit </option>
                                    <option value='vegetable' selected > Vegetable </option>
                                    <option value='grain'> Grain </option>
                                    <option value='beans and legumes'> Beans and Legumes </option>
                                    <option value='meats'> Meats </option>
                                    <option value='seafood'> Seafood </option>
                                    <option value="meal"> One Complete Meal </option>
                            </select>
                        </div>

                        Name: <input id='inputName' name='newName' type='text' value='{{menu.name}}'>
                        <br>
                        Price: <input id='inputPrice' name='newPrice' type='text' value='{{menu.price}}'>
                        <br>
                        Description: <input id='inputDescription' name='newDescription' type='text' value='{{menu.description}}'>
                        <br>
                        <input type='submit' value='EDIT'>
                        <button class='btn btn-success' name='cancelEdit'>
                            <a href={{url_for('showMenus', restaurant_id=restaurant_id)}}>CANCEL</a>
                        </button>
                    </form>
                </div>
        </section>
    </body>
{% endblock %}
