<html>
	<body>
		<h1> Edit Menu {{menu.name.capitalize()}} at Restaurant {{restaurant.name.capitalize()}} </h1>
		<!--the first restaurant_id is the variable of method newMenuItem defined in project.py,the second is as in int:restaurant_id of the route; having ','' between action and method will cause failure of redirect -->
		<form action='{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id )}}' method='post'>
            <input name="newName" type="text" placeholder='{{menu.name}}'>
            <input name="newCourse" type="text" placeholder='{{menu.course}}'>
            <input name="newPrice" type="text" placeholder='{{menu.price}}'>
            <input name="newDescription" type="text" placeholder='{{menu.description}}'>
            <input type="submit" value="EDIT">
        </form>
    </body>
</html>

