<!DOCTYPE html>
<!--This is my play ground -->
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/style.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title> My Restaurants </title>
		<style>
			body {
				font-size:1.5em;
				width: 300px;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body>
		<h1> Menus of Restaurant {{restaurant.name.capitalize()}} </h1>
	   	<button type='button' class='btn btn-success'><a href={{url_for('newMenu', restaurant_id=restaurant.id)}}> Create a New Menu</a></button>
	   	<section>
	   		{% with messages=get_flashed_messages() %}
		   		{% if messages %}
		   			<ul>
		   			{% for message in messages %}
		   				<li> <strong> {{message}} </strong></li>
		   			{% endfor %}
		   			</ul>
		   		{% endif %}
		   	{% endwith %}

			{% for i in menus %}
			    <p>
				    {{i.name}}
				    <br>
				    {{i.course}}
				    <br>
				    {{i.price}}
				    <br>
				    {{i.description}}
				</p>
		    <!--OK,too: <a href={{url_for('editMenu', restaurant_id=i.restaurant_id, menu_id=i.id)}}> EDIT</a> -->
			<div class='btn-group' role='group'>
				<button type='button' class='btn btn-default'><a href={{url_for('editMenu', restaurant_id=restaurant.id, menu_id=i.id)}}> EDIT</a></button>
				<button type='button' class='btn btn-warning'><a href={{url_for('deleteMenu', restaurant_id=i.restaurant_id, menu_id=i.id)}}> DELETE</a></button>
			</div>
	   		{% endfor %}
	   	</section>
    </body>
</html>

