{% extends "base.html" %}
{% block title %} Menus {% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block content %}
	<body class="container">
		<div class='row panel panel-default'>
		  	<div class='col-xs-12 panel-heading'>
		   		<h2 style="text-align:center"> Menus of Restaurant {{restaurant.name.title()}} </h2>
			</div>

			{% for i in menus%}
				<div class='row panel-body'>  <!--panel sections the menus -->
				    <b class='col-xs-12'> {{i.course}}</b>
			    	<span class='col-xs-9'>{{i.name}}</span>  <!--span keeps stuff close together -->
			    	<span class='col-xs-3'style="text-align:right;color:green">{{i.price}}</span>
					<i class='col-xs-12'>{{i.description}}</i>
				</div>
			{% endfor %}
		</div>
    </body>
{% endblock %}

