{% extends "base.html" %}
{% block title %} New Condition {% endblock %}
{% block head %}
	{{super()}}
{% endblock %}
{% block content %}
	<body>
		<h1> New Condition </h1> <!--TODO: expression not working anymore-->
		<!--the first restaurant_id is the variable of method newMenuItem defined in project.py,the second is as in int:restaurant_id of the route; having ','' between action and method will cause failure of redirect -->
		<form action='{{url_for('newCondition')}}' method='post'>
			<input type='text' class='btn btn-default' name='name' placeholder='condition.name'>
			<input type='text' class='btn btn-default' name='signs_and_symptoms' placeholder='condition.signs_and_symptoms'>
			<input type='submit' class='btn btn-sucsess'>
		</form>
	</body>
{% endblock %}
