<html>
	<body>
		<h1> New Menu for {{restaurant.name.capitalize()}} </h1>
		<!--the first restaurant_id is the variable of method newMenuItem defined in project.py,the second is as in int:restaurant_id of the route; having ','' between action and method will cause failure of redirect -->
		<form action='{{url_for('newMenuItem', restaurant_id=restaurant_id )}}' method='post'>
            <input name="newName" type="text" placeholder='menu.name'>
            <input name="newCourse" type="text" placeholder='menu.course'>
            <input name="newPrice" type="text" placeholder='menu.price'>
            <input name="newDescription" type="text" placeholder='menu.description'>
            <input type="submit" value="Create">
        </form>
    </body>
</html>

