<!DOCTYPE html>
<!--This is my play ground -->
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/style.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<title> Create New Restaurant </title>
		<style>
			body {
				font-size:1.5em;
				width: 300px;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body>
		<h1> Create New Restaurant </h1>
	   	<section class='panel panel-default'>
	   		<div class='panel-heading'>
		   		{% with messages=get_flashed_messages() %}
			   		{% if messages %}
			   			<ul>
			   			{% for message in messages %}
			   				<li> <strong> {{message}} </strong></li>
			   			{% endfor %}
			   			</ul>
			   		{% endif %}
			   	{% endwith %}
			</div>

		   	<div class='panel-body'>
			    <form action='{{url_for('restaurantNew')}}' method='post' class='btn-group'>
					<button type='button' class='btn btn-default'><input name="newName" type="text" placeholder='restaurant.name'></button>
					<button type='button' class='btn btn-success'><input type="submit" value="Create"></button>
				</form>
			</div>
	   	</section>
    </body>
</html>

